<form method="post" action="/users/<%= @user.id %>/new_album">
  <input type='text' name='title' placeholder="Album Title">
  <textarea name='description' rows="5" cols="35" placeholder="Describe your album here"></textarea>
  <br>
  <input type='submit' value='Create Album'>
</form>

