<h1>Sign-in to your Flickr Account!</h1>
<form method="post" action="/signin">
<input type="text" name="user[email]" placeholder="email" autofocus="autofocus">
<input type="password" name="user[password]" placeholder="password">
<input type="submit" value="Sign In">

