<div class="container">
  <h1>Signup for a Flickr Account!</h1>
  <form method="post" action="/signup">
  <input type="text" name="user[email]" placeholder="email" autofocus="autofocus">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Signup!">
</div>
