<form method="post"  enctype='multipart/form-data'>
  <input type='file' name='myfile'>
  <input type='text' name='title'>
  <textarea name='description' rows="5" cols="35"></textarea>
  <br>
  <input type='submit' value='Upload!'>
</form>

