<form method="post"  enctype='multipart/form-data'>
  <input type='file' name='myfile'>
  <input type='text' name='title' placeholder="Title your photo">
  <textarea name='description' rows="5" cols="35" placeholder="Describe your photo, be nice."></textarea>
  <br>
  <input type='submit' value='Upload!'>
</form>

